//=============================================================================
// Manifest
//=============================================================================

1 24 ".\Resources\Manifest.xml"

//=============================================================================
// Toolbar icons
//=============================================================================

// Toolbar, normal
IDI_ARROW_LEFT       RCDATA ".\Resources\arrow_left_48.png"
IDI_ARROW_RIGHT      RCDATA ".\Resources\arrow_right_48.png"
IDI_HOME             RCDATA ".\Resources\home_48.png"
IDI_SAVE             RCDATA ".\Resources\save_48.png"
