//=============================================================================
// Manifest
//=============================================================================

1 24 ".\Resources\Manifest.xml"

PAZ_VEGA       RCDATA ".\Images\VEGA_PAZ_01.jpg"

