
IMAGE_AAA_MAINICON ICON "IMAGES\\WINFBE.ICO"

IMAGE_TABCLOSE ICON "IMAGES\\TABCLOSE.ICO"

IMAGE_CLOSE RCDATA "IMAGES\\FINDREPLACE\\CLOSE.PNG"
IMAGE_LEFT RCDATA "IMAGES\\FINDREPLACE\\LEFT.PNG"
IMAGE_LEFTD RCDATA "IMAGES\\FINDREPLACE\\LEFT_D.PNG"
IMAGE_RIGHT RCDATA "IMAGES\\FINDREPLACE\\RIGHT.PNG"
IMAGE_RIGHTD RCDATA "IMAGES\\FINDREPLACE\\RIGHT_D.PNG"
IMAGE_SELECTED RCDATA "IMAGES\\FINDREPLACE\\SELECTED.PNG"
IMAGE_SELECTEDD RCDATA "IMAGES\\FINDREPLACE\\SELECTED_D.PNG"
IMAGE_CASE RCDATA "IMAGES\\FINDREPLACE\\CASE.PNG"
IMAGE_CASED RCDATA "IMAGES\\FINDREPLACE\\CASE_D.PNG"
IMAGE_WHOLE RCDATA "IMAGES\\FINDREPLACE\\WHOLE.PNG"
IMAGE_WHOLED RCDATA "IMAGES\\FINDREPLACE\\WHOLE_D.PNG"
IMAGE_REPLACE RCDATA "IMAGES\\FINDREPLACE\\REPLACE.PNG"
IMAGE_REPLACED RCDATA "IMAGES\\FINDREPLACE\\REPLACE_D.PNG"
IMAGE_REPLACEALL RCDATA "IMAGES\\FINDREPLACE\\REPLACEALL.PNG"
IMAGE_REPLACEALLD RCDATA "IMAGES\\FINDREPLACE\\REPLACEALL_D.PNG"
IMAGE_OPENED RCDATA "IMAGES\\FINDREPLACE\\OPENED.PNG"
IMAGE_CLOSED RCDATA "IMAGES\\FINDREPLACE\\CLOSED.PNG"

1000 ICON "IMAGES\\DOWN.ICO"
1001 ICON "IMAGES\\UP.ICO"

IMAGE_GOODCOMPILE ICON "IMAGES\\GOODCOMPILE.ICO"
IMAGE_BADCOMPILE ICON "IMAGES\\BADCOMPILE.ICO"

IMAGE_TB_NEW_FILE RCDATA "IMAGES\\TOOLBAR\\NEW_FILE.PNG"
IMAGE_TB_OPEN_FILE RCDATA "IMAGES\\TOOLBAR\\OPEN_FILE.PNG"
IMAGE_TB_SAVE_FILE RCDATA "IMAGES\\TOOLBAR\\SAVE_FILE.PNG"
IMAGE_TB_NEW_FORM RCDATA "IMAGES\\TOOLBAR\\NEW_FORM.PNG"
IMAGE_TB_CUT RCDATA "IMAGES\\TOOLBAR\\CUT.PNG"
IMAGE_TB_COPY RCDATA "IMAGES\\TOOLBAR\\COPY.PNG"
IMAGE_TB_PASTE RCDATA "IMAGES\\TOOLBAR\\PASTE.PNG"
IMAGE_TB_FIND RCDATA "IMAGES\\TOOLBAR\\FIND.PNG"
IMAGE_TB_REPLACE RCDATA "IMAGES\\TOOLBAR\\REPLACE.PNG"
IMAGE_TB_UNDO RCDATA "IMAGES\\TOOLBAR\\UNDO.PNG"
IMAGE_TB_REDO RCDATA "IMAGES\\TOOLBAR\\REDO.PNG"
IMAGE_TB_INDENT RCDATA "IMAGES\\TOOLBAR\\INDENT.PNG"
IMAGE_TB_INDENT_REMOVE RCDATA "IMAGES\\TOOLBAR\\INDENT_REMOVE.PNG"
IMAGE_TB_COMMENT RCDATA "IMAGES\\TOOLBAR\\COMMENT.PNG"
IMAGE_TB_COMMENT_REMOVE RCDATA "IMAGES\\TOOLBAR\\COMMENT_REMOVE.PNG"
IMAGE_TB_FUNCTIONLIST RCDATA "IMAGES\\TOOLBAR\\FUNCTIONLIST.PNG"
IMAGE_TB_COMPILE RCDATA "IMAGES\\TOOLBAR\\COMPILE.PNG"
IMAGE_TB_COMPILE_AND_EXECUTE RCDATA "IMAGES\\TOOLBAR\\COMPILE_AND_EXECUTE.PNG"
IMAGE_TB_QUICKRUN RCDATA "IMAGES\\TOOLBAR\\QUICKRUN.PNG"
IMAGE_TB_EXECUTE RCDATA "IMAGES\\TOOLBAR\\EXECUTE.PNG"
IMAGE_TB_HELP RCDATA "IMAGES\\TOOLBAR\\HELP.PNG"


1 24 "WinFBE_manifest.xml"












