
IMAGE_AAA_MAINICON ICON "IMAGES\\WINFBE.ICO"

IMAGE_TABCLOSE ICON "IMAGES\\TABCLOSE.ICO"
IMAGE_CLOSE ICON "IMAGES\\CLOSE.ICO"
IMAGE_LEFT ICON "IMAGES\\LEFT.ICO"
IMAGE_LEFTD ICON "IMAGES\\LEFT_D.ICO"
IMAGE_RIGHT ICON "IMAGES\\RIGHT.ICO"
IMAGE_RIGHTD ICON "IMAGES\\RIGHT_D.ICO"
IMAGE_SELECTED ICON "IMAGES\\SELECTED.ICO"
IMAGE_SELECTEDD ICON "IMAGES\\SELECTED_D.ICO"
IMAGE_CASE ICON "IMAGES\\CASE.ICO"
IMAGE_CASED ICON "IMAGES\\CASE_D.ICO"
IMAGE_WHOLE ICON "IMAGES\\WHOLE.ICO"
IMAGE_WHOLED ICON "IMAGES\\WHOLE_D.ICO"
IMAGE_REPLACE ICON "IMAGES\\REPLACE.ICO"
IMAGE_REPLACED ICON "IMAGES\\REPLACE_D.ICO"
IMAGE_REPLACEALL ICON "IMAGES\\REPLACEALL.ICO"
IMAGE_REPLACEALLD ICON "IMAGES\\REPLACEALL_D.ICO"
IMAGE_OPENED ICON "IMAGES\\OPENED.ICO"
IMAGE_CLOSED ICON "IMAGES\\CLOSED.ICO"
1000 ICON "IMAGES\\DOWN.ICO"
1001 ICON "IMAGES\\UP.ICO"

IMAGE_GOODCOMPILE ICON "IMAGES\\GOODCOMPILE.ICO"
IMAGE_BADCOMPILE ICON "IMAGES\\BADCOMPILE.ICO"

IMAGE_NEW_FILE RCDATA "IMAGES\\TOOLBAR\\NEW_FILE.PNG"
IMAGE_OPEN_FILE RCDATA "IMAGES\\TOOLBAR\\OPEN_FILE.PNG"
IMAGE_SAVE_FILE RCDATA "IMAGES\\TOOLBAR\\SAVE_FILE.PNG"
IMAGE_NEW_FORM RCDATA "IMAGES\\TOOLBAR\\NEW_FORM.PNG"
IMAGE_CUT RCDATA "IMAGES\\TOOLBAR\\CUT.PNG"
IMAGE_COPY RCDATA "IMAGES\\TOOLBAR\\COPY.PNG"
IMAGE_PASTE RCDATA "IMAGES\\TOOLBAR\\PASTE.PNG"
IMAGE_FIND RCDATA "IMAGES\\TOOLBAR\\FIND.PNG"
IMAGE_REPLACE RCDATA "IMAGES\\TOOLBAR\\REPLACE.PNG"
IMAGE_UNDO RCDATA "IMAGES\\TOOLBAR\\UNDO.PNG"
IMAGE_REDO RCDATA "IMAGES\\TOOLBAR\\REDO.PNG"
IMAGE_INDENT RCDATA "IMAGES\\TOOLBAR\\INDENT.PNG"
IMAGE_INDENT_REMOVE RCDATA "IMAGES\\TOOLBAR\\INDENT_REMOVE.PNG"
IMAGE_COMMENT RCDATA "IMAGES\\TOOLBAR\\COMMENT.PNG"
IMAGE_COMMENT_REMOVE RCDATA "IMAGES\\TOOLBAR\\COMMENT_REMOVE.PNG"
IMAGE_FUNCTIONLIST RCDATA "IMAGES\\TOOLBAR\\FUNCTIONLIST.PNG"
IMAGE_COMPILE RCDATA "IMAGES\\TOOLBAR\\COMPILE.PNG"
IMAGE_COMPILE_AND_EXECUTE RCDATA "IMAGES\\TOOLBAR\\COMPILE_AND_EXECUTE.PNG"
IMAGE_QUICKRUN RCDATA "IMAGES\\TOOLBAR\\QUICKRUN.PNG"
IMAGE_EXECUTE RCDATA "IMAGES\\TOOLBAR\\EXECUTE.PNG"
IMAGE_HELP RCDATA "IMAGES\\TOOLBAR\\HELP.PNG"


1 24 "WinFBE_manifest.xml"












