
IMAGE_AAA_MAINICON ICON "IMAGES\\WINFBE.ICO"

IMAGE_TABCLOSE ICON "IMAGES\\TABCLOSE.ICO"

IMAGE_GOODCOMPILE ICON "IMAGES\\GOODCOMPILE.ICO"
IMAGE_BADCOMPILE ICON "IMAGES\\BADCOMPILE.ICO"
IMAGE_TICK ICON "IMAGES\\TICK16.ICO"
IMAGE_NOTICK ICON "IMAGES\\NOTICK16.ICO"

IMAGE_DOWN   RCDATA "IMAGES\\DOWNARROW.PNG"
IMAGE_DOWN16 RCDATA "IMAGES\\DOWNARROW_16X.PNG"
IMAGE_UP     RCDATA "IMAGES\\UPARROW.PNG"
IMAGE_UP16   RCDATA "IMAGES\\UPARROW_16X.PNG"

IMAGE_METHOD   RCDATA "IMAGES\\METHOD_16X.PNG"
IMAGE_CLASS    RCDATA "IMAGES\\CLASS_16X.PNG"
IMAGE_BASETYPE RCDATA "IMAGES\\BULLET_16X.PNG"
IMAGE_PROPERTY RCDATA "IMAGES\\PROPERTY_16X.PNG"

IMAGE_CLOSE RCDATA "IMAGES\\FINDREPLACE\\CLOSE.PNG"
IMAGE_LEFT RCDATA "IMAGES\\FINDREPLACE\\LEFT.PNG"
IMAGE_LEFTD RCDATA "IMAGES\\FINDREPLACE\\LEFT_D.PNG"
IMAGE_RIGHT RCDATA "IMAGES\\FINDREPLACE\\RIGHT.PNG"
IMAGE_RIGHTD RCDATA "IMAGES\\FINDREPLACE\\RIGHT_D.PNG"
IMAGE_SELECTED RCDATA "IMAGES\\FINDREPLACE\\SELECTED.PNG"
IMAGE_SELECTEDD RCDATA "IMAGES\\FINDREPLACE\\SELECTED_D.PNG"
IMAGE_CASE RCDATA "IMAGES\\FINDREPLACE\\CASE.PNG"
IMAGE_CASED RCDATA "IMAGES\\FINDREPLACE\\CASE_D.PNG"
IMAGE_WHOLE RCDATA "IMAGES\\FINDREPLACE\\WHOLE.PNG"
IMAGE_WHOLED RCDATA "IMAGES\\FINDREPLACE\\WHOLE_D.PNG"
IMAGE_REPLACE RCDATA "IMAGES\\FINDREPLACE\\REPLACE.PNG"
IMAGE_REPLACED RCDATA "IMAGES\\FINDREPLACE\\REPLACE_D.PNG"
IMAGE_REPLACEALL RCDATA "IMAGES\\FINDREPLACE\\REPLACEALL.PNG"
IMAGE_REPLACEALLD RCDATA "IMAGES\\FINDREPLACE\\REPLACEALL_D.PNG"
IMAGE_OPENED RCDATA "IMAGES\\FINDREPLACE\\OPENED.PNG"
IMAGE_CLOSED RCDATA "IMAGES\\FINDREPLACE\\CLOSED.PNG"

//TOOLBOX ICONS//
IMAGE_POINTER        BITMAP "IMAGES\\TOOLBOX\\N_ARROW.BMP"
IMAGE_LABEL          BITMAP "IMAGES\\TOOLBOX\\N_LABEL.BMP"
IMAGE_BUTTON         BITMAP "IMAGES\\TOOLBOX\\N_BUTTON.BMP"
IMAGE_TEXTBOX        BITMAP "IMAGES\\TOOLBOX\\N_TEXTBOX.BMP"
IMAGE_CHECKBOX       BITMAP "IMAGES\\TOOLBOX\\N_OPTION.BMP"
IMAGE_OPTION         BITMAP "IMAGES\\TOOLBOX\\N_RADIO.BMP"
IMAGE_FRAME          BITMAP "IMAGES\\TOOLBOX\\N_FRAME.BMP"
//IMAGE_PICTURE        BITMAP "IMAGES\\TOOLBOX\\N_PICTURE.BMP"
//IMAGE_COMBOBOX       BITMAP "IMAGES\\TOOLBOX\\N_COMBO.BMP"
IMAGE_LISTBOX        BITMAP "IMAGES\\TOOLBOX\\N_LIST.BMP"
//IMAGE_IMGBUTTON      BITMAP "IMAGES\\TOOLBOX\\N_BUTTON_PICTURE.BMP"
//IMAGE_HSCROLL        BITMAP "IMAGES\\TOOLBOX\\N_SCROLL_H.BMP"
//IMAGE_VSCROLL        BITMAP "IMAGES\\TOOLBOX\\N_SCROLL_V.BMP"
//IMAGE_TIMER          BITMAP "IMAGES\\TOOLBOX\\N_TIMER.BMP"
//IMAGE_TABCONTROL     BITMAP "IMAGES\\TOOLBOX\\N_TAB.BMP"
//IMAGE_RICHEDIT       BITMAP "IMAGES\\TOOLBOX\\N_RICHEDIT.BMP"
//IMAGE_PROGRESSBAR    BITMAP "IMAGES\\TOOLBOX\\N_PROGRESS.BMP"
//IMAGE_UPDOWN         BITMAP "IMAGES\\TOOLBOX\\N_UP_DOWN.BMP"
//IMAGE_LISTVIEW       BITMAP "IMAGES\\TOOLBOX\\N_LIST_VIEW.BMP"
//IMAGE_TREEVIEW       BITMAP "IMAGES\\TOOLBOX\\N_TREE_VIEW.BMP"
//IMAGE_SLIDER         BITMAP "IMAGES\\TOOLBOX\\N_SLIDER.BMP"
//IMAGE_DATETIMEPICKER BITMAP "IMAGES\\TOOLBOX\\N_TIMEPICKER.BMP"
//IMAGE_MONTHCALENDAR  BITMAP "IMAGES\\TOOLBOX\\N_MONTH_CALENDAR.BMP"
//IMAGE_WEBBROWSER     BITMAP "IMAGES\\TOOLBOX\\N_BROWSER.BMP"
//IMAGE_CUSTOM         BITMAP "IMAGES\\TOOLBOX\\N_CUSTOM.BMP"
//IMAGE_OCX            BITMAP "IMAGES\\TOOLBOX\\N_ACTIVE_X.BMP"
IMAGE_FILES            BITMAP "IMAGES\\FileTypes.BMP"

IMAGE_CURSOR_LABEL          CURSOR "IMAGES\\TOOLBOX\\C_LABEL.CUR"
IMAGE_CURSOR_BUTTON         CURSOR "IMAGES\\TOOLBOX\\C_BUTTON.CUR"
IMAGE_CURSOR_TEXTBOX        CURSOR "IMAGES\\TOOLBOX\\C_TEXTBOX.CUR"
IMAGE_CURSOR_CHECKBOX       CURSOR "IMAGES\\TOOLBOX\\C_OPTION.CUR"
IMAGE_CURSOR_OPTION         CURSOR "IMAGES\\TOOLBOX\\C_RADIO.CUR"
IMAGE_CURSOR_FRAME          CURSOR "IMAGES\\TOOLBOX\\C_FRAME.CUR"
//IMAGE_CURSOR_PICTURE        CURSOR "IMAGES\\TOOLBOX\\C_PICTURE.CUR"
//IMAGE_CURSOR_COMBOBOX       CURSOR "IMAGES\\TOOLBOX\\C_COMBOBOX.CUR"
IMAGE_CURSOR_LISTBOX        CURSOR "IMAGES\\TOOLBOX\\C_LISTBOX.CUR"
//IMAGE_CURSOR_IMGBUTTON      CURSOR "IMAGES\\TOOLBOX\\C_BUTTON_PICTURE.CUR"
//IMAGE_CURSOR_HSCROLL        CURSOR "IMAGES\\TOOLBOX\\C_HORIZONTAL_SCROLL.CUR"
//IMAGE_CURSOR_VSCROLL        CURSOR "IMAGES\\TOOLBOX\\C_VERTICAL_SCROLL.CUR"
//IMAGE_CURSOR_TIMER          CURSOR "IMAGES\\TOOLBOX\\C_TIMER.CUR"
//IMAGE_CURSOR_TABCONTROL     CURSOR "IMAGES\\TOOLBOX\\C_TAB.CUR"
//IMAGE_CURSOR_RICHEDIT       CURSOR "IMAGES\\TOOLBOX\\C_RICH_TEXT.CUR"
//IMAGE_CURSOR_PROGRESSBAR    CURSOR "IMAGES\\TOOLBOX\\C_PROGRESS.CUR"
//IMAGE_CURSOR_UPDOWN         CURSOR "IMAGES\\TOOLBOX\\C_UP_DOWN.CUR"
//IMAGE_CURSOR_LISTVIEW       CURSOR "IMAGES\\TOOLBOX\\C_LIST_VIEW.CUR"
//IMAGE_CURSOR_TREEVIEW       CURSOR "IMAGES\\TOOLBOX\\C_TREE_VIEW.CUR"
//IMAGE_CURSOR_SLIDER         CURSOR "IMAGES\\TOOLBOX\\C_SLIDER.CUR"
//IMAGE_CURSOR_DATETIMEPICKER CURSOR "IMAGES\\TOOLBOX\\C_DATE_PICKER.CUR"
//IMAGE_CURSOR_MONTHCALENDAR  CURSOR "IMAGES\\TOOLBOX\\C_MONTH_CALENDAR.CUR"
//IMAGE_CURSOR_WEBBROWSER     CURSOR "IMAGES\\TOOLBOX\\C_BROWSER.CUR"
//IMAGE_CURSOR_CUSTOM         CURSOR "IMAGES\\TOOLBOX\\C_CUSTOM_CONTROL.CUR"
//IMAGE_CURSOR_OCX            CURSOR "IMAGES\\TOOLBOX\\C_ACTIVEX.CUR"



IMAGE_TB_NEW_FILE RCDATA "IMAGES\\TOOLBAR\\NEW_FILE.PNG"
IMAGE_TB_OPEN_FILE RCDATA "IMAGES\\TOOLBAR\\OPEN_FILE.PNG"
IMAGE_TB_SAVE_FILE RCDATA "IMAGES\\TOOLBAR\\SAVE_FILE.PNG"
IMAGE_TB_NEW_FORM RCDATA "IMAGES\\TOOLBAR\\NEW_FORM.PNG"
IMAGE_TB_CUT RCDATA "IMAGES\\TOOLBAR\\CUT.PNG"
IMAGE_TB_COPY RCDATA "IMAGES\\TOOLBAR\\COPY.PNG"
IMAGE_TB_PASTE RCDATA "IMAGES\\TOOLBAR\\PASTE.PNG"
IMAGE_TB_FIND RCDATA "IMAGES\\TOOLBAR\\FIND.PNG"
IMAGE_TB_REPLACE RCDATA "IMAGES\\TOOLBAR\\REPLACE.PNG"
IMAGE_TB_UNDO RCDATA "IMAGES\\TOOLBAR\\UNDO.PNG"
IMAGE_TB_REDO RCDATA "IMAGES\\TOOLBAR\\REDO.PNG"
IMAGE_TB_INDENT RCDATA "IMAGES\\TOOLBAR\\INDENT.PNG"
IMAGE_TB_INDENT_REMOVE RCDATA "IMAGES\\TOOLBAR\\INDENT_REMOVE.PNG"
IMAGE_TB_COMMENT RCDATA "IMAGES\\TOOLBAR\\COMMENT.PNG"
IMAGE_TB_COMMENT_REMOVE RCDATA "IMAGES\\TOOLBAR\\COMMENT_REMOVE.PNG"
IMAGE_TB_FUNCTIONLIST RCDATA "IMAGES\\TOOLBAR\\FUNCTIONLIST.PNG"
IMAGE_TB_COMPILE RCDATA "IMAGES\\TOOLBAR\\COMPILE.PNG"
IMAGE_TB_COMPILE_AND_EXECUTE RCDATA "IMAGES\\TOOLBAR\\COMPILE_AND_EXECUTE.PNG"
IMAGE_TB_QUICKRUN RCDATA "IMAGES\\TOOLBAR\\QUICKRUN.PNG"
IMAGE_TB_EXECUTE RCDATA "IMAGES\\TOOLBAR\\EXECUTE.PNG"
IMAGE_TB_HELP RCDATA "IMAGES\\TOOLBAR\\HELP.PNG"


1 24 "WinFBE_manifest.xml"












